* {
  box-sizing: border-box;
}

.aplication__Logo {
  width: 30px;
  height: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aplication {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 20px;
  background: rgb(0, 255, 16);
  background: linear-gradient(
    180deg,
    rgba(0, 255, 16, 1) 0%,
    rgba(43, 154, 35, 1) 51%,
    rgba(0, 255, 128, 1) 100%
  );
  align-items: center;
  width: 270px;
}

.aplication > h1 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.display {
  background-color: aliceblue;
  margin: 20px 10px 5px 10px;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  height: 100px;
  width: 250px;
}

.memoryControl {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  width: 200px;
  height: 25px;
}

.memoryControl__Button {
  font-size: 16px;
  font-weight: 600;
}

.controlPanel {
  display: grid;
  grid-template-rows: repeat(5, 55px);
  grid-template-columns: repeat(4, 55px);
  border: 2px solid;
  border-radius: 10px;
  padding: 6px;
  margin: 10px;
}

.controlPanel__Button {
  border-radius: 25px;
  margin: 6px;
}

.controlPanel__Number {
  font-size: 20px;
  font-weight: 600;
}

.controlPanel__ImgButton {
  width: 20px;
  height: 20px;
}
