.container {
  border-radius: 20px;
  background: rgb(0, 255, 16);
  background: linear-gradient(
    180deg,
    rgba(0, 255, 16, 1) 0%,
    rgba(43, 154, 35, 1) 51%,
    rgba(0, 255, 128, 1) 100%
  );
  min-width: 530px;
  max-width: 768px;
}

.display {
  background-color: aliceblue;
  height: 112px;
}

.display__input {
  font-size: 3rem;
}

.memory {
  gap: 10px;
}

.panel {
  display: flex;
}

.memory__info {
  font-size: 20px;
}

.memory__button,
.panel__numbers__button,
.panel__operations__button {
  border: none;
  height: 50px;
  width: 30%;
  margin: 4px;
  font-size: 25px;
}

.panel__operations__button {
  width: 45%;
  justify-content: end;
}
