* {
  box-sizing: border-box;
}

.aplication__Logo {
  width: 30px;
  height: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.aplication {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 20px;
  background: rgb(0, 255, 16);
  background: linear-gradient(
    180deg,
    rgba(0, 255, 16, 1) 0%,
    rgba(43, 154, 35, 1) 51%,
    rgba(0, 255, 128, 1) 100%
  );
  align-items: center;
}

.aplication > h1 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.displayContainer {
  background-color: aliceblue;
  margin: 20px 10px 5px 10px;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  height: 100px;
  width: 90%;
  text-align: end;
}

.display {
  font-size: 3rem;
}

.memoryControl {
  display: flex;
  justify-content: end;
  gap: 5px;
  margin: 10px;
  width: 90%;
  height: 25px;
}

.memoryControl__Button {
  font-size: 16px;
  font-weight: 600;
}

.controlPanel {
  border: 2px solid;
  border-radius: 10px;
  padding: 6px;
  margin: 10px;
  width: 90%;
}

.controlPanel__Button {
  border-radius: 25px;
}

.controlPanel__Number {
  font-weight: 600;
  height: 50px;
  margin: 3px;
}

.controlPanel__ImgButton {
  width: 20px;
  height: 20px;
}
